<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
    <style>
        .add_form > div {
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        textarea {
            padding: 10px;
            min-width: 500px;
            min-height: 100px;
            max-width: 500px;
            max-height: 100px;
        }

        .manytomany {
            padding: 4px;
            display: inline-block;
            border: 1px solid #000;
            max-height: 110px;
            overflow-y: scroll;
        }

        .tbl-header {
            position: relative;
        }

        button {
            background-color: transparent;
            border: none;
        }

        .my-btn {
            background-color: transparent;
            border: 1px solid #fff;
            padding: 7px 10px;
            border-radius: 5px;
            color: #fff;
            transition: .1s linear;
            cursor: pointer;
        }

        .my-btn:hover {
            opacity: .5;
        }

        .btn-add {
            position: absolute;
            right: 25px;
            top: -60px;
            padding: 24px 10px;
            line-height: 0;
            font-size: 50px;
        }

        .my-btn svg {
            width: 20px;
            height: 20px;
        }

    </style>
</head>
<body>
<section>
    <input oninput="search()" class="search" type="text" placeholder="so'zni qidirish">
    <!--for demo wrap-->
    <div class="header">
        <h1>Sifatlar</h1>
    </div>
    <div class="tbl-header">
        <span class="my-btn btn-add" data-toggle="modal" data-target="#scrollmodal">+</span>
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>So'z</th>
                <th>Belgi ifodalashiga ko‘ra turi</th>
                <th>Ma‘nosiga ko‘ra turi</th>
                <th>sifat darajasi</th>
                <th>tuzilish jihatdan turi</th>
                <th>Sinonimlar</th>
                <th>Antonimlar</th>
                <th>Giponimlar</th>
                <th>Giperonimlar</th>
                <th>izoh</th>
                <th>O'zgartirish</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="tbody">
            {% for adjective in adjectives %}
                <tr>
                    <td>{{ adjective.word }}</td>
                    <td>{{ adjective.get_adjectives_two_display }}</td>
                    <td>{{ adjective.get_adjective_type_display }}</td>
                    <td>{{ adjective.get_adjective_level_display }}</td>
                    <td>{{ adjective.get_adjective_type_structure_display }}</td>
                    {% if adjective.synonym.all %}
                        <td>
                            {% for synonym in adjective.synonym.all %}
                                <p>{{ synonym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if adjective.antonym.all %}
                        <td>
                            {% for antonym in adjective.antonym.all %}
                                <p>{{ antonym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if adjective.hyponym.all %}
                        <td>
                            {% for hyponym in adjective.hyponym.all %}
                                <p>{{ hyponym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if adjective.hyperonym.all %}
                        <td>
                            {% for hyperonym in adjective.hyperonym.all %}
                                <p>{{ hyperonym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ adjective.review }}</td>
                    <td>
                        <a onclick="edit({{ adjective.id }})" data-toggle="modal" data-target="#staticModal"
                           class="my-btn" href="#" style="display: inline-block">
                            <button class="btn-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 576 512">
                                    <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                    <path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                                </svg>
                            </button>
                        </a>
                        <a class="my-btn" href="{% url 'delete-adjective' adjective.id %}"
                           style="display: inline-block; margin-left: 10px">
                            <button class="btn-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>

<!-- modal scroll -->
<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Yangi so'z qoshish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="add_form" action="{% url 'add-adjective' %}" method="post">{% csrf_token %}
                    <div>
                        <span>So'z: </span>
                        <p><input type="text" name="word"></p>
                    </div>
                    <div>
                        <span>Belgi ifodalashiga ko‘ra turi: </span>
                        <p>{{ form.adjectives_two }}</p>
                    </div>
                    <div>
                        <span>Sifat turi: </span>
                        <p>{{ form.adjective_type }}</p>
                    </div>
                    <div>
                        <span>Sifat darajasi: </span>
                        <p>{{ form.adjective_level }}</p>
                    </div>
                    <div>
                        <span>Tuzilish jihatdan turi: </span>
                        <p>{{ form.adjective_type_structure }}</p>
                    </div>
                    <div>
                        <p>Sinonimlari: </p>
                        <ul class="manytomany" id="synonymsList">
                            {% for word in synonyms %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="synonym" value="{{ word.id }}">
                                        {{ word }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" id="newSynonymBtn">+</button>
                        <p class="addForm" id="addForm" style="display: none">
                            <input type="text" name="new_synonym" id="newInput">
                            <button type="button" id="addBtn">qo'shish</button>
                        </p>
                    </div>
                    <div>
                        <p>Antonimlari: </p>
                        <ul class="manytomany" id="antonymList">
                            {% for word in antonyms %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="antonym" value="{{ word.id }}">
                                        {{ word }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" id="newAntonymBtn">+</button>
                        <p class="addForm" id="addAntonymForm" style="display: none">
                            <input type="text" name="new_antonym" id="newAntonymInput">
                            <button type="button" id="addAntonymBtn">qo'shish</button>
                        </p>
                    </div>
                    <div>
                        <p>Giponimlari: </p>
                        <ul class="manytomany" id="hyponymList">
                            {% for word in hyponyms %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="hyponym" value="{{ word.id }}">
                                        {{ word }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" id="newHyponymBtn">+</button>
                        <p class="addForm" id="addHyponymForm" style="display: none">
                            <input type="text" name="new_hyponym" id="newHyponymInput">
                            <button type="button" id="addHyponymBtn">qo'shish</button>
                        </p>
                    </div>
                    <div>
                        <p>Giperonimlari: </p>
                        <ul class="manytomany" id="hyperonymList">
                            {% for word in hyperonyms %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="hyperonym" value="{{ word.id }}">
                                        {{ word }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" id="newHyperonymBtn">+</button>
                        <p class="addForm" id="addHyperonymForm" style="display: none">
                            <input type="text" name="new_hyperonym" id="newHyperonymInput">
                            <button type="button" id="addHyperonymBtn">qo'shish</button>
                        </p>
                    </div>
                    <p>Izoh:</p>
                    <textarea name="review"></textarea>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga</button>
                        <button type="submit" class="btn btn-primary">Qo'shish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal scroll -->

<!-- modal static -->
<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 20px; line-height: 0">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentSingle"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal static -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    function search() {
        const word = document.querySelector(".search").value;

        $.ajax({
            url: '{% url "home" %}',
            type: "GET",
            data: {
                "word": word
            },
            success: function (data) {
                const content = document.getElementById("tbody");
                content.innerHTML = "";
                (data.adjectives).forEach(adjective => {
                    var html = `
                        <tr>
                            <td>${adjective.word}</td>
                            <td>${adjective.adjectives_two}</td>
                            <td>${adjective.adjective_type}</td>
                            <td>${adjective.adjective_level}</td>
                            <td>${adjective.adjective_type_structure}</td>`;

                    if (adjective.synonyms.length) {
                        html += `<td>`;
                        (adjective.synonyms).forEach(synonym => {
                            html += `${synonym}, `;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }

                    if (adjective.antonyms.length) {
                        html += `<td>`;
                        (adjective.antonyms).forEach(antonyms => {
                            html += `${antonyms}, `;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }

                    if (adjective.hyponyms.length) {
                        html += `<td>`;
                        (adjective.hyponyms).forEach(hyponyms => {
                            html += `${hyponyms}, `;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }

                    if (adjective.hyperonyms.length) {
                        html += `<td>`;
                        (adjective.hyperonyms).forEach(hyperonyms => {
                            html += `${hyperonyms}, `;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }


                    html += `
                        <td>${adjective.review}</td>
                        <td>
                            <a onclick="edit(${adjective.id})" data-toggle="modal" data-target="#staticModal" class="my-btn" href="#" style="display: inline-block">
                                <button class="btn-edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 576 512">
                                        <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                        <path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                                    </svg>
                                </button>
                            </a>
                            <a class="my-btn" href="delete-adjective/${adjective.id}/" style="display: inline-block; margin-left: 10px">
                                <button class="btn-delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </a>
                        </td>
                        </tr>`;
                    content.innerHTML += html;
                });
            }
        });
    }

    function edit(id) {

        $.ajax({
            url: "edit-adjective/" + id + "/",
            type: "GET",
            data: {
                "id": id
            },
            success: function (data) {
                var obj = data.obj;
                const header = document.getElementById("staticModalLabel");
                const content = document.getElementById("contentSingle");
                header.innerHTML = `${data.obj.word} So'zi`;
                content.innerHTML = "";

                content.innerHTML += `<form method="post">{% csrf_token %}
                <p><span>So'z: </span><input type="text" name="word" value="${obj.word}"></p>
                <select name="adjectives_two">
                    {% for option in form.adjectives_two %}
                        {{ option }}
                    {% endfor %}
                </select>
                <p><span>Sifat turi: </span><input type="text" name="adjective_type" value="${obj.adjective_type}"></p>
                <p><span>Sifat darajasi: </span><input type="text" name="adjective_level" value="${obj.adjective_level}"></p>
                <p><span>Tuzilish jihatdan turi: </span><input type="text" name="adjective_type_structure" value="${obj.adjective_type_structure}"></p>
                <button type="submit">Yangilash</button>
                </form>`
            }
        });
    }

    const newSynonymBtn = document.getElementById("newSynonymBtn");
    const input = document.getElementById("newInput");
    const addForm = document.getElementById("addForm");
    const addBtn = document.getElementById("addBtn");

    newSynonymBtn.addEventListener("click", function () {
        $("#addForm").css("display", "block");
    });

    addBtn.addEventListener("click", function () {
        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": input.value, "check": "Synonym"},
            type: "GET",
            success: function (data) {
                $("#newInput").css("border-color", "#ccc");
                const synonymsList = document.getElementById("synonymsList");
                synonymsList.innerHTML = "";
                input.value = "";

                (data.objs).forEach(synonym => {
                    synonymsList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="synonym" value="${synonym.id}">
                            ${synonym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newInput").css("border-color", "red");
            }
        });
    });

    const newAntonymBtn = document.getElementById("newAntonymBtn");
    const newAntonymInput = document.getElementById("newAntonymInput");
    const addAntonymForm = document.getElementById("addAntonymForm");
    const addAntonymBtn = document.getElementById("addAntonymBtn");

    newAntonymBtn.addEventListener("click", function () {
        $("#addAntonymForm").css("display", "block");
    });

    addAntonymBtn.addEventListener("click", function () {

        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": newAntonymInput.value, "check": "Antonym"},
            type: "GET",
            success: function (data) {
                $("#newAntonymInput").css("border-color", "#ccc");
                const antonymList = document.getElementById("antonymList");
                antonymList.innerHTML = "";
                newAntonymInput.value = "";

                (data.objs).forEach(antonym => {
                    antonymList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="antonym" value="${antonym.id}">
                            ${antonym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newAntonymInput").css("border-color", "red");
            }
        });
    });


    const newHyponymBtn = document.getElementById("newHyponymBtn");
    const newHyponymInput = document.getElementById("newHyponymInput");
    const addHyponymForm = document.getElementById("addHyponymForm");
    const addHyponymBtn = document.getElementById("addHyponymBtn");

    newHyponymBtn.addEventListener("click", function () {
        $("#addHyponymForm").css("display", "block");
    });

    addHyponymBtn.addEventListener("click", function () {
        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": newHyponymInput.value, "check": "Hyponym"},
            type: "GET",
            success: function (data) {
                $("#newHyponymInput").css("border-color", "#ccc");
                const hyponymList = document.getElementById("hyponymList");
                hyponymList.innerHTML = "";
                newHyponymInput.value = "";

                (data.objs).forEach(hyponym => {
                    hyponymList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="hyponym" value="${hyponym.id}">
                            ${hyponym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newHyponymInput").css("border-color", "red");
            }
        });
    });


    const newHyperonymBtn = document.getElementById("newHyperonymBtn");
    const newHyperonymInput = document.getElementById("newHyperonymInput");
    const addHyperonymForm = document.getElementById("addHyperonymForm");
    const addHyperonymBtn = document.getElementById("addHyperonymBtn");

    newHyperonymBtn.addEventListener("click", function () {
        $("#addHyperonymForm").css("display", "block");
    });

    addHyperonymBtn.addEventListener("click", function () {
        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": newHyperonymInput.value, "check": "Hyperonym"},
            type: "GET",
            success: function (data) {
                $("#newHyperonymInput").css("border-color", "#ccc");
                const hyperonymList = document.getElementById("hyperonymList");
                hyperonymList.innerHTML = "";
                newHyperonymInput.value = "";

                (data.objs).forEach(hyperonym => {
                    hyperonymList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="hyperonym" value="${hyperonym.id}">
                            ${hyperonym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newHyperonymInput").css("border-color", "red");
            }
        });
    });
</script>

</body>
</html>