<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Sifatlar</title>
    <style>

        body {
            overflow: hidden;
            background-image: url("{% static 'b2.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        body::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #1b1b1bad;
            z-index: -1;
        }
        .links-div {
            float: right;
            margin-bottom: 20px;
        }
        .links {
            padding: 10px 30px;
            display: inline-block;
            font-size: 20px;
            background-color: #ffffff1c;
            border-radius: 20px;
            color: #fff;
        }
        .links:hover {
            text-decoration: none;
            color: #fff;
            background-color:  #ffffff52;
        }
        .links:nth-child(2) {
            margin-left: 10px;
        }
        .edit-objs {
            margin-bottom: 10px;
        }

        .objs {
            margin-bottom: 10px;
        }

        .border-color {
            border-color: red;
        }

        .title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .addForm {
            display: none;
        }

        .block-none {
            display: block;
        }

        .objs {
            display: flex;
            width: 100%;
        }

        .objs div {
            margin: 0;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: left;
            text-align: left;
            width: 150px;
        }

        .objs-input {
            width: 100%;
        }

        .new-btn {
            margin: 5px 0 !important;
            background-color: #337ab7;
            color: #fff;
        }

        .tbl-content {
            height: auto;
            max-height: 550px;
        }

        .add_form > div {
            margin-bottom: 20px;
        }

        p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        textarea {
            padding: 10px;
            min-width: 500px;
            min-height: 100px;
            max-width: 500px;
            max-height: 100px;
        }

        .manytomany {
            padding: 4px;
            display: inline-block;
            border: 1px solid #000;
            max-height: 110px;
            overflow-y: scroll;
        }

        .tbl-header {
            position: relative;
        }

        button {
            background-color: transparent;
            border: none;
        }

        .my-btn {
            background-color: transparent;
            border: 1px solid #fff;
            padding: 7px 10px;
            border-radius: 5px;
            color: #fff;
            transition: .1s linear;
            cursor: pointer;
        }

        .my-btn:hover {
            opacity: .5;
        }

        .btn-add {
            position: absolute;
            right: 25px;
            top: -60px;
            padding: 24px 10px;
            line-height: 0;
            font-size: 50px;
        }

        .my-btn svg {
            width: 20px;
            height: 20px;
        }

        @media screen and (max-width: 1765px) {
            .responsive-btn {
                padding: 3px;
            }
            .btn-add {
                position: absolute;
                right: 25px;
                top: -60px;
                padding: 20px 10px;
                line-height: 0;
                font-size: 35px;
            }
        }
    </style>
</head>
<body>
<section>
    <div class="links-div">
        <a class="links" href="{% url 'index' %}">Home</a>
    </div>
    <input oninput="search()" class="search" type="text" placeholder="so'zni qidirish">
    <!--for demo wrap-->
    <div class="header">
        <h1>Sifatlar</h1>
    </div>
    <div class="tbl-header">
        <span class="my-btn btn-add" data-toggle="modal" data-target="#scrollmodal">+</span>
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>No</th>
                <th>So'z</th>
                <th>Belgi ifodalashiga ko‘ra turi</th>
                <th>Ma‘nosiga ko‘ra turi</th>
                <th>sifat darajasi</th>
                <th>tuzilish jihatdan turi</th>
                <th>Sinonimlar</th>
                <th>Antonimlar</th>
                <th>izoh</th>
                <th>O'zgartirish</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="tbody">
            {% for adjective in adjectives %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ adjective.word }}</td>
                    <td>{{ adjective.get_adjectives_two_display }}</td>
                    <td>{{ adjective.get_adjective_type_display }}</td>
                    <td>{{ adjective.get_adjective_level_display }}</td>
                    <td>{{ adjective.get_adjective_type_structure_display }}</td>
                    {% if adjective.synonym.all %}
                        <td>
                            {% for synonym in adjective.synonym.all %}
                                <p>{{ synonym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if adjective.antonym.all %}
                        <td>
                            {% for antonym in adjective.antonym.all %}
                                <p>{{ antonym.word }},</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td style="word-break: break-word">{{ adjective.review }}</td>
                    <td>
                        <a onclick="edit({{ adjective.id }})" data-toggle="modal" data-target="#staticModal"
                           class="my-btn responsive-btn" href="#" style="display: inline-block">
                            <button class="btn-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 576 512">
                                    <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                    <path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                                </svg>
                            </button>
                        </a>
                        <a class="my-btn responsive-btn" href="{% url 'delete-adjective' adjective.id %}"
                           style="display: inline-block; margin-left: 10px">
                            <button class="btn-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>

<!-- modal scroll -->
<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="scrollmodalLabel" style="margin: 0">Yangi so'z qoshish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="add_form" action="{% url 'add-adjective' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div>
                        <span class="title">So'z: </span>
                        <p><input type="text" name="word"></p>
                    </div>
                    <div>
                        <span class="title">Belgi ifodalashiga ko‘ra turi: </span>
                        <p>{{ form.adjectives_two }}</p>
                    </div>
                    <div>
                        <span class="title">Sifat turi: </span>
                        <p>{{ form.adjective_type }}</p>
                    </div>
                    <div>
                        <span class="title">Sifat darajasi: </span>
                        <p>{{ form.adjective_level }}</p>
                    </div>
                    <div>
                        <span class="title">Tuzilish jihatdan turi: </span>
                        <p>{{ form.adjective_type_structure }}</p>
                    </div>
                    <div class="objs" style="display: flex;">
                        <div>
                            <p class="title">Sinonimlari: </p>
                            <ul class="manytomany" id="synonymsList">
                                {% for word in synonyms %}
                                    <li>
                                        <label>
                                            <input type="checkbox" name="synonym" value="{{ word.id }}">
                                            {{ word }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="new-btn" type="button" id="newSynonymBtn">yangi qo'shish</button>
                            <p class="addForm" id="addForm">
                                <input class="objs-input" type="text" name="new_synonym" id="newInput">
                                <button class="new-btn" type="button" id="addBtn">qo'shish</button>
                            </p>
                        </div>
                        <div>
                            <p class="title">Antonimlari: </p>
                            <ul class="manytomany" id="antonymList">
                                {% for word in antonyms %}
                                    <li>
                                        <label>
                                            <input type="checkbox" name="antonym" value="{{ word.id }}">
                                            {{ word }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="new-btn" type="button" id="newAntonymBtn">yangi qo'shish</button>
                            <p class="addForm" id="addAntonymForm">
                                <input class="objs-input" type="text" name="new_antonym" id="newAntonymInput">
                                <button class="new-btn" type="button" id="addAntonymBtn">qo'shish</button>
                            </p>
                        </div>
                    </div>
                    <p class="title">Izoh:</p>
                    <textarea name="review"></textarea>
                    <input type="file" name="file" style="margin: 10px 0 20px">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga</button>
                        <button type="submit" class="btn btn-primary">Qo'shish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal scroll -->

<!-- modal static -->
<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 20px; line-height: 0">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentSingle"></div>
        </div>
    </div>
</div>
<!-- end modal static -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    function search() {
        const word = document.querySelector(".search").value;

        $.ajax({
            url: '{% url "home" %}',
            type: "GET",
            data: {
                "word": word
            },
            success: function (data) {
                const content = document.getElementById("tbody");
                content.innerHTML = "";
                var index = 1;
                (data.adjectives).forEach(adjective => {
                    var html = `
                        <tr>
                            <td>${index}</td>
                            <td>${adjective.word}</td>
                            <td>${adjective.adjectives_two}</td>
                            <td>${adjective.adjective_type}</td>
                            <td>${adjective.adjective_level}</td>
                            <td>${adjective.adjective_type_structure}</td>`;

                    if (adjective.synonyms.length) {
                        html += `<td>`;
                        (adjective.synonyms).forEach(synonym => {
                            html += `<p>${synonym}</p>`;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }

                    if (adjective.antonyms.length) {
                        html += `<td>`;
                        (adjective.antonyms).forEach(antonyms => {
                            html += `<p>${antonyms}</p>`;
                        });
                        html += `</td>`;
                    } else {
                        html += `<td>-</td>`;
                    }

                    html += `
                        <td>${adjective.review}</td>
                        <td>
                            <a onclick="edit(${adjective.id})" data-toggle="modal" data-target="#staticModal" class="my-btn responsive-btn" href="#" style="display: inline-block">
                                <button class="btn-edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 576 512">
                                        <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                        <path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                                    </svg>
                                </button>
                            </a>
                            <a class="my-btn responsive-btn" href="delete-adjective/${adjective.id}/" style="display: inline-block; margin-left: 10px">
                                <button class="btn-delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </a>
                        </td>
                        </tr>`;
                    content.innerHTML += html;
                    index ++;
                });
            }
        });
    }

    function edit(id) {

        $.ajax({
            url: "edit-adjective/" + id + "/",
            type: "GET",
            data: {
                "id": id
            },
            success: function (data) {
                var obj = data.obj[0];
                const header = document.getElementById("staticModalLabel");
                const content = document.getElementById("contentSingle");
                header.innerHTML = `${obj.word} So'zi`;
                content.innerHTML = "";
                var html = `<form id="editForm" method="post">{% csrf_token %}
                <input id="obj-id" type="hidden" name="id" value="${obj.id}">
                <div class="edit-objs"><p>So'z: </p><input type="text" name="word" value="${obj.word}"></div>`;
                var wr = "<div class='edit-objs'><p>Belgi ifodalashiga ko‘ra turi:</p><select name='adjectives_two'>";
                (data.adjectives_types_two).forEach(word => {
                    if (word[0] == obj.adjectives_two) {
                        wr += `<option value="${word[0]}" selected>${word[1]}</option>`;
                    } else {
                        wr += `<option value="${word[0]}">${word[1]}</option>`;
                    }
                });
                wr += "</select></div>";
                html += wr;

                wr = "<div class='edit-objs'><p>Sifat turi:</p><select name='adjective_type'>";
                (data.adjective_types).forEach(word => {
                    if (word[0] == obj.adjective_type) {
                        wr += `<option value="${word[0]}" selected>${word[1]}</option>`;
                    } else {
                        wr += `<option value="${word[0]}">${word[1]}</option>`;
                    }
                });
                wr += "</select></div>";
                html += wr;

                wr = "<div class='edit-objs'><p>Sifat darajasi:</p><select name='adjective_level'>";
                (data.adjective_levels).forEach(word => {
                    if (word[0] == obj.adjective_level) {
                        wr += `<option value="${word[0]}" selected>${word[1]}</option>`;
                    } else {
                        wr += `<option value="${word[0]}">${word[1]}</option>`;
                    }
                });
                wr += "</select></div>";
                html += wr;

                wr = "<div class='edit-objs'><p>Tuzilish jihatdan turi:</p><select name='adjective_type_structure'>";
                (data.adjective_type_structure).forEach(word => {
                    if (word[0] == obj.adjective_type_structure) {
                        wr += `<option value="${word[0]}" selected>${word[1]}</option>`;
                    } else {
                        wr += `<option value="${word[0]}">${word[1]}</option>`;
                    }
                });
                wr += "</select></div>";
                html += wr;

                // synonyms
                html += `<div class="objs"><div><p class="title">Sinonimlari: </p>`;

                wr = '<ul class="manytomany synonymList">';
                (data.synonyms).forEach(obj => {
                    if (data.obj_synonyms.includes(obj.word)) {
                        wr += `
                            <li>
                                <label>
                                    <input type="checkbox" checked name="synonym" value="${obj.id}">
                                    ${obj.word}
                                </label>
                            </li>`
                    } else {
                        wr += `
                            <li>
                                <label>
                                    <input type="checkbox" name="synonym" value="${obj.id}">
                                    ${obj.word}
                                </label>
                            </li>`
                    }
                });

                wr += "</ul>";

                html += wr;

                html += `
                        <button class="new-btn newSynonymBtn" type="button">yangi qo'shish</button>
                        <p class="addForm addSynonymForm">
                            <input class="objs-input newSynonymInput" type="text" name="new_synonym">
                            <button class="new-btn addSynonymBtn" type="button">qo'shish</button>
                        </p></div>`;

                // Antonyms
                html += `<div><p class="title">Antonimlari: </p>`;

                wr = '<ul class="manytomany antonymList">';
                (data.antonyms).forEach(obj => {
                    if (data.obj_antonyms.includes(obj.word)) {
                        wr += `
                            <li>
                                <label>
                                    <input type="checkbox" checked name="antonym" value="${obj.id}">
                                    ${obj.word}
                                </label>
                            </li>`
                    } else {
                        wr += `
                            <li>
                                <label>
                                    <input type="checkbox" name="antonym" value="${obj.id}">
                                    ${obj.word}
                                </label>
                            </li>`
                    }
                });

                wr += "</ul>";

                html += wr;

                html += `
                        <button class="new-btn newAntonymBtn" type="button">yangi qo'shish</button>
                        <p class="addForm addAntonymForm">
                            <input class="objs-input newAntonymInput" type="text" name="new_antonym">
                            <button class="new-btn addAntonymBtn" type="button">qo'shish</button>
                        </p>
                    </div>`;


                html += `</div>`;


                html += `
                    <div><p>Izoh:</p><textarea name="review">${obj.review}</textarea></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga</button>
                        <button type="submit" class="btn btn-primary">Yangilash</button>
                    </div>
                    </form>`;

                content.innerHTML += html;


                const singleNewSynonymBtn = document.querySelector(".newSynonymBtn");
                const singleNewSynonymInput = document.querySelector(".newSynonymInput");
                const singleAddSynonymForm = document.querySelector(".addSynonymForm");
                const singleAddSynonymBtn = document.querySelector(".addSynonymBtn");

                singleNewSynonymBtn.addEventListener("click", function () {
                    singleAddSynonymForm.classList.toggle("block-none");
                });

                const obj_synonyms = data.obj_synonyms;

                singleAddSynonymBtn.addEventListener("click", function () {
                    $.ajax({
                        url: "{% url 'add-objs' %}",
                        data: {"word": singleNewSynonymInput.value, "check": "Synonym"},
                        type: "GET",
                        success: function (data) {
                            singleNewSynonymInput.classList.remove("border-color");
                            const synonymList = document.querySelector(".synonymList");
                            synonymList.innerHTML = "";
                            singleNewSynonymInput.value = "";

                            (data.objs).forEach(synonym => {
                                if (obj_synonyms.includes(synonym.word)) {
                                    synonymList.innerHTML += `
                                        <li>
                                            <label>
                                                <input type="checkbox" checked name="synonym" value="${synonym.id}">
                                                ${synonym.word}
                                            </label>
                                        </li>`
                                } else {
                                    synonymList.innerHTML += `
                                        <li>
                                            <label>
                                                <input type="checkbox" name="synonym" value="${synonym.id}">
                                                ${synonym.word}
                                            </label>
                                        </li>`
                                }
                            });
                        },
                        error: function (data) {
                            singleNewSynonymInput.classList.add("border-color");
                        }
                    });
                });

                const singleNewAntonymBtn = document.querySelector(".newAntonymBtn");
                const singleNewAntonymInput = document.querySelector(".newAntonymInput");
                const singleAddAntonymForm = document.querySelector(".addAntonymForm");
                const singleAddAntonymBtn = document.querySelector(".addAntonymBtn");

                singleNewAntonymBtn.addEventListener("click", function () {
                    singleAddAntonymForm.classList.toggle("block-none");
                });

                const obj_antonyms = data.obj_antonyms;

                singleAddAntonymBtn.addEventListener("click", function () {
                    $.ajax({
                        url: "{% url 'add-objs' %}",
                        data: {"word": singleNewAntonymInput.value, "check": "Antonym"},
                        type: "GET",
                        success: function (data) {
                            singleNewAntonymInput.classList.remove("border-color");
                            const antonymList = document.querySelector(".antonymList");
                            antonymList.innerHTML = "";
                            singleNewAntonymInput.value = "";

                            (data.objs).forEach(antonym => {
                                if (obj_antonyms.includes(antonym.word)) {
                                    antonymList.innerHTML += `
                                        <li>
                                            <label>
                                                <input type="checkbox" checked name="antonym" value="${antonym.id}">
                                                ${antonym.word}
                                            </label>
                                        </li>`
                                } else {
                                    antonymList.innerHTML += `
                                        <li>
                                            <label>
                                                <input type="checkbox" name="antonym" value="${antonym.id}">
                                                ${antonym.word}
                                            </label>
                                        </li>`
                                }
                            });
                        },
                        error: function (data) {
                            singleNewAntonymInput.classList.add("border-color");
                        }
                    });
                });


            }

        });
    }

    const newSynonymBtn = document.getElementById("newSynonymBtn");
    const input = document.getElementById("newInput");
    const addForm = document.getElementById("addForm");
    const addBtn = document.getElementById("addBtn");

    newSynonymBtn.addEventListener("click", function () {
        addForm.classList.toggle("block-none");
    });

    addBtn.addEventListener("click", function () {
        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": input.value, "check": "Synonym"},
            type: "GET",
            success: function (data) {
                $("#newInput").css("border-color", "#ccc");
                const synonymsList = document.getElementById("synonymsList");
                synonymsList.innerHTML = "";
                input.value = "";

                (data.objs).forEach(synonym => {
                    synonymsList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="synonym" value="${synonym.id}">
                            ${synonym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newInput").css("border-color", "red");
            }
        });
    });

    const newAntonymBtn = document.getElementById("newAntonymBtn");
    const newAntonymInput = document.getElementById("newAntonymInput");
    const addAntonymForm = document.getElementById("addAntonymForm");
    const addAntonymBtn = document.getElementById("addAntonymBtn");

    newAntonymBtn.addEventListener("click", function () {
        addAntonymForm.classList.toggle("block-none");
    });

    addAntonymBtn.addEventListener("click", function () {

        $.ajax({
            url: "{% url 'add-objs' %}",
            data: {"word": newAntonymInput.value, "check": "Antonym"},
            type: "GET",
            success: function (data) {
                $("#newAntonymInput").css("border-color", "#ccc");
                const antonymList = document.getElementById("antonymList");
                antonymList.innerHTML = "";
                newAntonymInput.value = "";

                (data.objs).forEach(antonym => {
                    antonymList.innerHTML += `
                    <li>
                        <label>
                            <input type="checkbox" name="antonym" value="${antonym.id}">
                            ${antonym.word}
                        </label>
                    </li>`
                });
            },
            error: function (data) {
                $("#newAntonymInput").css("border-color", "red");
            }
        });
    });


</script>

</body>
</html>